.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 400px;
}

.nameCorrect {
  text-align: left;
  padding: 5px;
  cursor: pointer;
}

.list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  width: 80%;
  outline: none;
  text-align: center;
  font-size: 18px;
  border: 1px solid gray;
  margin-bottom: 13px;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: #222222;
}

.correctAnswer {
  background-color: greenyellow;
}

.errorAnswer {
  background-color: crimson;
  width: 80%;
  outline: none;
  text-align: center;
  font-size: 18px;
  border: 1px solid gray;
  margin-bottom: 13px;
  padding: 15px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.birdName {
  margin: 0;
}

.reset {
  background-color: #222222;
}