.box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 40%;
  height: 400px;
}

.image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;
}

.default {
  font-size: 18px;
}

.name {
  font-size: 20px;
  margin: 0;
}

.species {
  margin: 0;
  margin-top: 5px;
}

.audio {
  margin-top: 10px;
}

.wrapperBird {
  padding: 7px 13px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.innerBird {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.description {
  margin-top: 5px;
  text-align: justify;
}

.nameBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}